.primary-button {
    background-color: #362f72;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
}

.primary-button:hover {
    color: #95FFD4;
}